/* Grundläggande reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Mobile-first default styles max-width: 480px */
body {
  background-color: white;
}

section {
  padding: 5% 10%;
}

/* Tablets */
@media (min-width: 480px) and (max-width: 1025px) {
  body {
    background-color: lightgreen;
  }
}

/* Laptops */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: lightcoral;
  }
}

/* Larger screens */
@media (min-width: 1440px) and (max-width: 1600px) {
  body {
    background-color: lightgoldenrodyellow;
  }
}

/* Max 1600px */
@media (max-width: 1600px) {
}
